<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="icon" href="photos/faceIcon.png">


    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

    <title>Shrey Samdani</title>
    <script type="text/javascript" src="https://goessner.net/download/prj/jsonxml/xml2json.js"></script>
    <script type="text/javascript">
		
		var sections = ['home', 'personalProjects', 'resumeTitle', 'contactMe'];
		var sectionButtons = ['homeButton', 'projectButton', 'resumeButton', 'contactMeButton'];
		
        var app = angular.module('LandingPage', ['ngMaterial']);
        app.controller('landingController', function($scope, $window) {

            $scope.scrollToId = function(id) {
                $window.scrollTo({
                    top: document.getElementById(id).offsetTop,
                    behavior: "smooth"
                });
            }

            var xhttp = new XMLHttpRequest();
	    	xhttp.open("GET", "./projects.xml", false);
	    	xhttp.send();
	    	var json = JSON.parse(xml2json(xhttp.responseXML,""))
	    	$scope.projects = json.root.project;
			$scope.icons = ['home', 'folder', 'library_books', 'call'];
			$scope.sections = sections;
			$scope.sectionButtons = sectionButtons;
			$scope.range4 = [...Array(4).keys()];
        });
		
		window.onscroll = function() {


		  var bScroll = window.scrollY;
		  for (var i = 0; i < sections.length; i++) {
			var section = document.getElementById(sections[i]);
			var sectionButton = document.getElementById(sectionButtons[i]);

			var sHeight = section.offsetHeight;
			var offsets = section.offsetTop;

			if (bScroll >= offsets && bScroll < offsets + sHeight) {
			  sectionButton.style.color = 'black';
			  sectionButton.style.backgroundColor = 'white';
				
			} else {
			  sectionButton.style.color = 'white';
			  sectionButton.style.backgroundColor = 'transparent';
			}
		  }
		}
		
		function resizeIframe(obj) {
			obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
		}

    </script>

</head>
<!-- HOME BUTTON -->

<body ng-app="LandingPage" ng-controller="landingController" ng-cloak>
    <div class="icons">
		<md-button ng-repeat="i in range4" ng-attr-id="{{sectionButtons[i]}}"  class="md-fab md-primary"  ng-click="scrollToId(sections[i])">
            <i class="material-icons">{{icons[i]}}</i>
        </md-button>
    </div>

    <!-- ABOUT ME -->
    <div class="aboutmeBG" id="home">

        <div class="aboutme-container">
            <img src="photos/profile.png" class="profile">
            <div class="aboutme-name">
                SHREY SAMDANI
            </div>
            <br/>
            <div class="aboutme-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis eu dolor et tristique. Nam condimentum blandit mattis. Donec pulvinar, risus sed imperdiet tincidunt, metus velit pharetra justo, id sollicitudin ex quam id nibh. Nullam fermentum ante nec mi luctus, vitae posuere nulla venenatis. Praesent scelerisque risus feugiat tortor volutpat auctor. Ut et sem fringilla, consectetur leo sit amet, sollicitudin ligula. Proin ac nunc nibh. Pellentesque vel tortor risus. Integer lobortis sem ac erat pretium, eu porttitor velit lacinia. Cras tincidunt rutrum cursus. Aenean posuere luctus nisl, congue egestas ligula feugiat eu. Curabitur suscipit placerat nisl et vulputate.
            </div>
            <br/>

            <div class="button-row">
                <md-button ng-click="scrollToId('personalProjects')">Personal Projects</md-button>
                <md-button ng-click="scrollToId('resumeTitle')">Resume</md-button>
                <md-button ng-click="scrollToId('contactMe')">Contact Me</md-button>
            </div>

        </div>
		<div class="location">Bryce Canyon National Park, Utah</div>
    </div>
	
	

    <!-- PERSONAL PROJECTS -->

    <div id="personalProjects" class="headers">
        <p>Personal Projects</p>
    </div>
    <div class="projBG">
			<div class="projectFormat" ng-repeat="project in projects">
				<md-button class="projectButton">
					<i class="material-icons" style="font-size: 100px">{{project.icon}}</i>
					<h1>{{project.name}}</h1>

				</md-button>
			<div class="projectDescription">{{project.short_description}}</div>
			</div>
			<div class="location">Zion National Park, Utah</div>

    </div>


    <!-- RESUME -->
    <div class="headers" id="resumeTitle">
        <p>Resume</p>

		<iframe id="resume" src="resume.html" onload="resizeIframe(this)">
		</iframe>

    </div>

    <div class="contactBG">
    	<div class="location" style="position: absolute; 
bottom: 0;">Horseshoe Bend, Arizona</div>
    </div>

    <!-- CONTACT ME -->
    <div class="headers" id="contactMe">
        <p>Contact Me</p>
    </div>
    <div ng-if="messageSent" style="text-align: center; background-color: #282E34; color: white;">
        Message Sent
    </div>

    <!-- inspected google forms page to find post url and arguements -->
    <div class="contactContainer">
        <form method="post" target="test" action="https://docs.google.com/forms/d/e/1FAIpQLScC-OaEIaffg8sqQ6nr8hb6XfHtBtc6TTnr9indEgjRmzAEIw/formResponse" id="contactMeForm">

            <div class="text-box">
                <div class="sendIcon">
                    <md-button class="md-fab md-primary" type="submit" ng-click="messageSent=true">
				    	<i class="material-icons">send</i>
				    </md-button>
			    </div>
                <md-input-container>
                    <label style="color: white">Email</label>
                    <input name="entry.244664271" type="text" ng-model="color" style="width:650px; color: white; border-color: white">
                </md-input-container>

                <textarea id="editor" name="entry.629231885" form="contactMeForm"></textarea>
                <script>
                    ClassicEditor.create(document.querySelector('#editor'));
                </script>

            </div>
        </form>
        <iframe name="test" ng-show="false"></iframe>
    </div>

</body>

</html>
